<h1>Games List</h1>

<table>
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Released</th>
        <th>Developer</th>
    
    </tr>
    <% @games.each do |game| %>
        <tr>
            <td><%= link_to  game.name, game %></td>
            <td><%= game.description %></td>  
            <td><%= game.released %></td>
            <td><%= game.developer.name %> </td>
            <td> <%= link_to 'Edit', edit_game_path(game) %>
                    <%= link_to 'Delete', game, method: :delete, data: { confirm: 'Are you sure?' } %> 
            </td>
    
        </tr>
    <% end %>
</table>